/* Base style mod */
.progress {
  z-index: 1;
}

h1 {
  font-size: 220%;
}

pre,
code {
  background-color: #fff;
}
pre {
  padding: 2%;
}
code {
  padding: 0 2%;
}
pre > code {
  padding: 0;
}
blockquote {
  font-style: italic;
  margin: auto 0;
  padding: 0 .5em;
  border-left: 0.25em solid #fff;
}

@media (min-width: 480px) {
  ul {
    padding: 10px 0 10px 3vw;
  }
}

.slide-content {
  overflow: scroll;
  height: 80vh;
  font-size: 180%;
}

.slide-content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* theme color */
.progress-bar {
  background-color: var(--bar-color);
}

a,
a:hover {
  color: var(--em-color);!important;
}

h3 {
  border-color: var(--bar-color);
}
blockquote {
  border-color: var(--bar-color);
}

.slide {
  background-color: var(--bg-color);
}
